:root {
    --blue-marguerite: #666AC3;
    --midnight-express: #13183f;
    --manatee: #83869A;
    --french-rose: #F74780;
    --carnation-pink: #FFA7C3;
    --white: #FFFFFF;
    --mangeta-pink: rgb(240, 42, 166);
    --tomato: rgb(255, 111, 72);
    --neon-blue: rgb(72, 81, 255);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/****** Box section styling */
.row__course {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.box {
    width: 350px;
    height: 322px;
}

.box p{
    line-height: 28px;
}

.box__course {
    background-image: linear-gradient(to bottom, rgb(255, 111, 72), rgb(240, 42, 166));
}

.box__1 {

}

.box__2 {

}

.box__3 {

}

.box__4 {

}

.box__5 {

}


footer {
    background-color: var(--midnight-express);
    display: flex;
    justify-content: space-around;
    height: 120px;
    width: 1440px;
}